@import "./../../../constants/variables.scss";

.card {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.discription {
  //   flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  > * {
    width: 100%;
  }
}

.img {
  height: 100px;
  margin: auto;
  width: 60px;
  &_wrp {
    flex-basis: 60px;
    width: 60px;
  }
}

.title {
  width: 70%;
}
.price {
  align-self: flex-end;
  text-align: right;
  color: $colorFontBlack;
  font-weight: 700;
  font-size: 20px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
}
