@import "./../../../constants/variables.scss";

.wrp {
  display: flex;
}

.img_wrp {
  width: 100px;
  //   width: 100px;
}

.discription {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
  }
}

.btnGrooup {
  align-self: flex-end;
  display: flex;

  justify-content: space-between;

  button {
    margin: 10px;
    flex-grow: 1;
    font-size: 20px;
  }
}

.btnContin {
  border: 1px solid $colorBlack;
  color: $colorFontBlack;
  border-radius: 6px;
}
