@import "./../../constants/variables.scss";

.wrp {
  // box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  background-color: transparentize($colorBlack, $amount: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  // padding: 10px 0;
}

.box {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: $musio;
}

.phoneIcon {
  $size: 20px;

  fill: $colorAccent;
  width: $size;
  height: $size;
  margin-right: 10px;
}

.left {
  display: flex;
  align-items: center;
  // font-size: 16px;
  > * {
    margin-right: 20px;
  }
  a {
    color: $colorFontWhite;
    display: flex;
    align-items: center;
  }
}

.right {
  display: flex;
  align-items: center;

  > * {
    margin-left: 10px;
  }
}

.logo {
  height: 50px;
  width: 50px;

  &_wrp {
    padding: 10px 0;
  }
}
.divider {
  height: 100%;
  border-right: 1px solid transparentize($colorWhite, 0.5);
}

.city {
  color: $colorAccent;
}

.icon {
  $size: 40px;
  width: $size;
  height: $size;
  fill: $colorWhite;

  &_wrp {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
}

// .rightBlock {
//   align-self: center;
//   text-transform: uppercase;
//   color: $colorFontWhite;
// }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin-right: 10px;
  text-transform: uppercase;
}

.link {
  padding: 0 10px;
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  color: $colorFontWhite;
  text-transform: capitalize;

  &:hover {
    color: $colorFontWhite;
    transform: scale(1.05);
  }
}

.activeLink {
  color: $colorAccent;
}

.cart_title {
  color: $colorFontWhite;
  // font-weight: bold;
}
