@import "./../../constants/variables.scss";

.parallax {
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
  // height: 200px;
  // background-image: url(https://thecity.m24.ru/b/c/10435.1200x600.jpg);
  // position: relative;

  // margin-bottom: 20px;

  .title {
    text-align: center;
    font-family: $proxima;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .icon {
    display: block;
    margin: auto;
    height: 10px;
    margin-bottom: 30px;
  }
}
