@import "./../../constants/variables.scss";

.wrp {
  display: flex;
}

.img_wrp {
  width: 100px;
  //   width: 100px;
}

.discription {
  padding: 0 20px;

  display: flex;
  flex-wrap: wrap;
  > * {
    width: 100%;
  }
}

.btnGrooup {
}
