// $colorAccent: hsl(22, 97%, 52%);
$colorAccent: #e78315;

// Цвета для текста
$colorFontWhite: #fff;
$colorFontBlack: #000;

// Цвета для блоков
$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);

// Точки перелома
$breakPointTb: 748px;
$breakPointDs: 1200px;

// Ширина контайнера
$widthMb: 300px;
$widthTb: $breakPointTb - 20px;
$widthDs: $breakPointDs - 20px;
