@import "./../../constants/variables.scss";

.parallax {
  // padding-top: 50px;
  padding: 50px 10px;
  // padding-bottom: 50px;
  // padding-bottom: 10px;

  text-align: center;

  .title {
    text-align: center;
    font-family: $proxima;
    font-size: 20px;
    display: block;
    padding: 10px;
    margin: auto;
    position: relative;
    font-size: 32px;
    max-width: 560px;
    font-family: $merri;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      $size: 30px;
      width: $size;
      height: $size;
    }

    &::after {
      top: 0;
      left: 0;
      border-left: 2px solid $colorAccent;
      border-top: 2px solid $colorAccent;
    }

    &::before {
      bottom: 0;
      right: 0;
      border-right: 2px solid $colorAccent;
      border-bottom: 2px solid $colorAccent;
    }
  }

  .icon {
    display: block;
    margin: auto;
    height: 10px;
    margin-bottom: 30px;
  }
}
