body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://fonweb.ucoz.ru/_ph/64/282958873.jpg);

  // background-image: url(https://i.pinimg.com/originals/c9/b2/a5/c9b2a59907a5037469847f73606dd0c8.jpg);
  // background-image: url(https://grynykha.com/public/img/portfolio/39isiBV0uIppn9t.jpg);
  // background-size: cover;
  // background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.2s;
  &:active {
    outline: none !important;
  }
}
*::after,
*::before {
  content: "";
  display: none;
}

a {
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

p {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
