@import "./typografy.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url(https://fonweb.ucoz.ru/_ph/64/282958873.jpg);

  // background-image: url(https://i.pinimg.com/originals/c9/b2/a5/c9b2a59907a5037469847f73606dd0c8.jpg);
  // background-image: url(https://grynykha.com/public/img/portfolio/39isiBV0uIppn9t.jpg);
  // background-size: cover;
  // background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  &:active {
    outline: none !important;
  }
}
*::after,
*::before {
  content: "";
  display: none;
}

a {
  transition: all 0.2s;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

p {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }
}

img {
  object-fit: contain;
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.super-btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 12px 40px;
  // margin: 10px 20px;
  border-radius: 6px;
  background-image: linear-gradient(
    45deg,
    #f57820 0%,
    #deb933 50%,
    #f77c03 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: "Montserrat", sans-serif;
  // font-size: 24px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }
}

.goods {
  .ant-drawer-content-wrapper {
    max-width: 500px;
  }
}
