@font-face {
  font-family: "Rose";
  src: url("./../assets/fonts/englishRose/englishrose.ttf");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./../assets/fonts/proximaNovaBold/Proxima_Nova_Bold.otf");
}

@font-face {
  font-family: "Merriweather";
  src: url("./../assets/fonts/merriweather/Merriweather-Regular.woff");
}

@font-face {
  font-family: "Museo Sans";
  src: url("./../assets/fonts/museoSans/MuseoSansCyrl-300.woff");
}
