@font-face {
  font-family: "Rose";
  src: url("./../assets/fonts/englishRose/englishrose.ttf");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./../assets/fonts/proximaNovaBold/Proxima_Nova_Bold.otf");
}
